name: Run Coverage and Pydocstyle
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install -r reqs.txt
      - name: Run tests with coverage
        run: coverage run && coverage report
      - name: Check pydocstyle
        run: pydocstyle
